/* 

Project Name: Cookie Monster 
Client: Cookie Monster
Author: Nitin Singh Rawat  
Developed in ND 

*/

body {
	background: url('../images/cookie-monster.jpg');
	/* the follow is the code to have the image display as a full page */
	background-position: center;
	background-attachment: fixed;
	-webkit-background-size: cover; /* the next 3 lines are "browser prefixes", they are necessary to include for CSS3 techniques */
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

#container{
	background: black;
	width: 500px;
	color:white; 
	padding: 15px;
}

h1 {
	font-size: 80px;
}

h2{
	background-color: cornflowerblue;
	color: black;
	padding: 5px;
	border-radius: 5px;

}

a{
	color: cornflowerblue;
	text-decoration: none;
}